body{
    margin: 0;
    font-family: sans-serif;
   
    
}
.background-image-flex{
    display: flex;
    position: relative;
   
    /* filter: brightness(0.7); */
  
}
.accra-event{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/65d4a8fe2b90d2cc28fd4a80_accra.jpg);
    background-repeat: no-repeat;
    
    width: 100vh;
    height: 100vh;
    background-size: cover;
    /* position: relative; */
}
.text-on-event{
    text-align: center;
    margin-top: 35vh;
    
    h1{
        color: white;
        font-size: 5vh;
    }
    h5{
        color:rgb(219, 219, 120);
        font-size: 1.7vh;
    }
    p{
        color: white;
        font-size: 1.7vh;
      
    }
    a{
        text-decoration: none;
        font-family:sans-serif;
        font-size: inherit;
    }
}

.pavillion{
    color: gray;
}
.nairobi-event{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/65d4a8fec49b23e3d4d28b75_decor-p-500.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vh;
    /* position: relative; */
    /* height: 100vh; */
}
.logo img{
    width: 20vh;
/* margin-top: -100vh; */
}
.logo{
    position: absolute;
    margin-top: -90vh;
    margin-left: 85vh;
}
.dropupbtn {
    font-size: 3vh;
    color: white;
    cursor: pointer;
    color-scheme: dark;
}
.drop-up {
    position: relative;
    display: inline-block;
}
.dropup-content {
    display: none;
    position: absolute;
    background-color: white;
    padding: 5vh;
  padding-left: 0;
  width: 20vh;
    border-radius: 1vh;
    /* top: 5vh; */
    margin-top: -49vh;
}
.dropup-content a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
    padding: 1vh;
    display: block;
}
.dropup-content a:hover {
    background-color: gray;
}
.drop-up:hover .dropup-content {
    display: block;
}
.drop-up:hover .dropupbtn {
    transform: scale(1.1);
}
#time-icon {
    width: 3vh;
    height: 3vh;
    color: white;
    cursor: pointer;
    color-scheme: dark;
}
.history-btn {
    position: relative;
    display: inline-block;
}
.history-content {
    display:none;
    position: absolute;
    margin-top: -41vh;
   min-width: 20vh;
   z-index: 100;
    background-color: white;
    padding: 1vh;
    border-radius: 1vh;
    color:black;
}

.history-btn:hover #time-icon {
    transform: scale(1.1);
}
.history-btn:hover .history-content {
    display: block;
}
nav{
    position: absolute;
    margin-top: -12vh;
    margin-left: 50vh;

    width: 50%;
    border-radius: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 4vh;
    z-index: 100;
    background-color: black;
}
.drop-up, .history-btn {
    position: relative;
    margin-right: 2vh;
}
.navigation {
    display: flex;
    gap: 4vh;
}
.navigation a {
    color: white;
    text-decoration: none;
    font-size: 2vh;
    padding-top: 1vh;
}
.navigation a:hover {
    color: gray;
}
#reservation {
    background-color: gray;
    border-radius: 5vh;
    padding: 1vh 2vh;
}
#reservation:hover{
    color: black;
}
.icon-watsapp {
    position: absolute;
    margin-top: -12vh;
    right: 4vh;
    font-size: 5vh;
    background-color: black;
    padding: 1vh;
    border-radius: 10vh;
    width: 5.3vh;
    height: 5.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-watsapp a {
    color: white;
    text-decoration: none;
}
.icon-watsapp:hover {
    transform: scale(1.1);
}
    .addis-event{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65d4a8fe5863a791395eba11_Addis.jpg);
        width: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }