body{
    margin: 0;
    padding: 0;
  overflow: hidden;


}
.image{
background-image:url(images/kitisuru-menu.jpg);
background-repeat: no-repeat;
background-size: cover;
width: 105vh;
height: 100vh;


}



.logo img{
    width: 20vh;
}
.logo{
    margin-left: 35vh;
    margin-top: 5vh;
  
}
.text{
 margin:15vh 35vh;
    color: white;
}
.text h2{
    padding-left: 3vh;
    font-size: 4vh;
    font-weight: lighter;
}
.text h1{
    color: rgb(160, 12, 12);
    font-size: 6vh;
    font-weight: lighter;

}

.image-flex{
display: flex;  
width: 100%; 
position: relative; 
font-family: sans-serif;

}

.food-nav{
   margin-top: 2vh;
   margin-left: 130vh;
   position: absolute;
}
.food-nav a:hover{
    color: rgb(223, 223, 141);
}
.food-nav a{
    text-decoration: none;
     margin-left: 3vh;
     color: rgb(250, 243, 243)
}
.food-catagory{
    background-color: rgb(15, 14, 14);
    width: 90vh;
    height: 100vh;
    overflow: auto;
 
    p{
        font-size: 1.5vh;
    
    }
    h4{
        font-weight: lighter;
    }
}
.breakfast-list{
    color: rgb(250, 243, 243);
    margin: 5vh;
}
.flex-drinks{
    color: rgb(186, 22, 22);
    font-weight: bold;
    font-size: 1.5vh;
    display: flex;
    margin-top: -1vh;
   gap: 1vh;
   margin-left: 5vh;

}
.breakfast-description{
    display: flex;
    justify-content: space-between;
    color: rgb(250, 243, 243);
    margin: 0 5vh;
}
.food{
    color: rgb(250, 243, 243);
    margin: 0 5vh; 
}
.soup-price{
    display: flex;
    justify-content: space-between;
    color: rgb(250, 243, 243);
    margin: 0 5vh;
    margin-top: 5vh;
}

.salad-price{
    display: flex;
    margin: 0 4vh;
    justify-content: space-between;
    color: rgb(250, 243, 243);

}
.logo-with-food-menu{
display: flex;
gap: 4vh;

}
.logo-menu img{
border-radius: 6vh;
margin-top: 2vh;
height: 10vh;
width: 10vh;
}
.price-amount{
margin-top: 6vh;
}
.fries-catagory{
    color: rgb(186, 22, 22);
    margin:0 5vh;
}
.fries-flexing{
    display: flex;
    color: rgb(250, 243, 243);
    margin:0 5vh;
    justify-content: space-between;
}

.drinks{
    margin:0 5vh;
    color: rgb(250, 243, 243);

}
.juices{
    margin:0 5vh;
    color: rgb(186, 22, 22);
}
.juice-flexing{
    display: flex;
    justify-content: space-between;
    color: rgb(250, 243, 243);
    margin:0 5vh;
}
.dropupbtn {
    font-size: 3vh;
    color: white;
    cursor: pointer;
    color-scheme: dark;
}
.drop-up {
    position: relative;
    display: inline-block;
}
.dropup-content {
    display: none;
    position: absolute;
    background-color: white;
    padding: 5vh;
  padding-left: 0;
  width: 20vh;
    border-radius: 1vh;
    /* top: 5vh; */
    margin-top: -49vh;
}
.dropup-content a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
    padding: 1vh;
    display: block;
}
.dropup-content a:hover {
    background-color: gray;
}
.drop-up:hover .dropup-content {
    display: block;
}
.drop-up:hover .dropupbtn {
    transform: scale(1.1);
}
#time-icon {
    width: 3vh;
    height: 3vh;
    color: white;
    cursor: pointer;
    color-scheme: dark;
}
.history-btn {
    position: relative;
    display: inline-block;
}
.history-content {
    display:none;
    position: absolute;
    margin-top: -41vh;
   min-width: 20vh;
   z-index: 100;
    background-color: white;
    padding: 1vh;
    border-radius: 1vh;
    color:black;
}

.history-btn:hover #time-icon {
    transform: scale(1.1);
}
.history-btn:hover .history-content {
    display: block;
}
nav{
    position: absolute;
    margin-top: -12vh;
    margin-left: 50vh;

    width: 50%;
    border-radius: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 4vh;
    z-index: 100;
    background-color: black;
}
.drop-up, .history-btn {
    position: relative;
    margin-right: 2vh;
}
.navigation {
    display: flex;
    gap: 4vh;
}
.navigation a {
    color: white;
    text-decoration: none;
    font-size: 2vh;
    padding-top: 1vh;
}
.navigation a:hover {
    color: gray;
}
#reservation {
    background-color: gray;
    border-radius: 5vh;
    padding: 1vh 2vh;
}
#reservation:hover{
    color: black;
}
.icon-watsapp {
    position: absolute;
    margin-top: -12vh;
    right: 4vh;
    font-size: 5vh;
    background-color: black;
    padding: 1vh;
    border-radius: 10vh;
    width: 5.3vh;
    height: 5.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-watsapp a {
    color: white;
    text-decoration: none;
}

.icon-watsapp:hover {
    transform: scale(1.1);
}