body{
    font-size: 1rem;
    margin: 0;
    font-family: sans-serif;

}
.live-container{
    background-image:url(65c3dbca6243c016481156cc_young-adults-playing-percussion-instruments-music-festival-generated-by-ai.jpg) ;
    filter: brightness(0.5);
    /* background-size: cover; */
    /* width: 30vh; */
    height: 100vh;

  
    
    
 
  
  
    
}

.live-types{
    margin-left: 116vh;
    position: absolute;
    margin-top: -100vh;
    overflow: scroll;
    height: 100vh;


    img{
        width: 35vh;
        border-radius: 2vh;
        
    margin-top: 10vh;
   
    }
    img:hover{
        transform: scale(1.01) ;
    }
   a{
    text-decoration: none;
   }
   
}
.fidhilee:hover{
 
}

.koseso{
    display: flex;
    gap: 3vh;
   
}
.fadhilee{
    display: flex;
    gap: 3vh;
}
.event-discription{
    margin-top: 15vh;
p{
    color: rgb(182, 13, 13);
    font-size: 2vh;

}
h3{
    color: white;
}
}
.mushroom{
    display: flex;
    gap:3vh
}
.muguna{
    display: flex;
    gap:3vh
}

.logo img{
width: 20vh;
margin: 9vh 40vh;

}
.logo{
    position: absolute;
    margin-top: -100vh;
}
.live-text{
   margin-left: 45vh;
   position: absolute;
   margin-top: -55vh;

  
   p{
    color: white;
    font-size: 2vh;
   }
}
#live{
    color: rgb(182, 13, 13);
    font-size: 4vh;
}
.dropupbtn {
    font-size: 3vh;
    color: white;
    cursor: pointer;
    color-scheme: dark;
}
.drop-up {
    position: relative;
    display: inline-block;
}
.dropup-content {
    display: none;
    position: absolute;
    background-color: white;
    padding: 5vh;
  padding-left: 0;
  width: 20vh;
    border-radius: 1vh;
    /* top: 5vh; */
    margin-top: -49vh;
}
.dropup-content a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
    padding: 1vh;
    display: block;
}
.dropup-content a:hover {
    background-color: gray;
}
.drop-up:hover .dropup-content {
    display: block;
}
.drop-up:hover .dropupbtn {
    transform: scale(1.1);
}
#time-icon {
    width: 3vh;
    height: 3vh;
    color: white;
    cursor: pointer;
    color-scheme: dark;
}
.history-btn {
    position: relative;
    display: inline-block;
}
.history-content {
    display:none;
    position: absolute;
    margin-top: -41vh;
   min-width: 20vh;
   z-index: 100;
    background-color: white;
    padding: 1vh;
    border-radius: 1vh;
    color:black;
}

.history-btn:hover #time-icon {
    transform: scale(1.1);
}
.history-btn:hover .history-content {
    display: block;
}
nav{
    position: absolute;
    margin-top: -12vh;
    margin-left: 50vh;

    width: 50%;
    border-radius: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 4vh;
    z-index: 100;
    background-color: black;
}
.drop-up, .history-btn {
    position: relative;
    margin-right: 2vh;
}
.navigation {
    display: flex;
    gap: 4vh;
}
.navigation a {
    color: white;
    text-decoration: none;
    font-size: 2vh;
    padding-top: 1vh;
}
.navigation a:hover {
    color: gray;
}
#reservation {
    background-color: gray;
    border-radius: 5vh;
    padding: 1vh 2vh;
}
#reservation:hover{
    color: black;
}
.icon-watsapp {
    position: absolute;
    margin-top: -12vh;
    right: 4vh;
    font-size: 5vh;
    background-color: black;
    padding: 1vh;
    border-radius: 10vh;
    width: 5.3vh;
    height: 5.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-watsapp a {
    color: white;
    text-decoration: none;
}
.icon-watsapp:hover {
    transform: scale(1.1);
}