body {
    overflow: hidden;
    margin: 0;

}

.background-image {
    display: flex;
    position: relative;
  

}

.left-image {
    width: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/Locations_files/65c34fee7c31fcb2f8c3700b_001-p-1600.jpg);
    background-size: cover;
    height: 100vh;

}

.right-image {
    width: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/Locations_files/65e5a29a2a2b1c4a493fff75_ankolegrill_Kilimani-Nights.jpg);
    background-size: cover;
}

.text {
    color: white;
    margin: 40vh;
    font-size: larger;
}
.text a{
    color: white;
    text-decoration: none;
}

.text h3 {
    color: rgb(230, 32, 32);
    font-weight: lighter;
    font-size: xx-large;
}

.text h1 {
    cursor: pointer;
}

.logo {
    margin-top: -95vh;
    margin-left: 77vh;
    position: absolute;
}
.dropupbtn {
    font-size: 3vh;
    color: white;
    cursor: pointer;
    color-scheme: dark;
}
.drop-up {
    position: relative;
    display: inline-block;
}
.dropup-content {
    display: none;
    position: absolute;
    background-color: white;
    padding: 5vh;
  padding-left: 0;
  width: 20vh;
    border-radius: 1vh;
    /* top: 5vh; */
    margin-top: -49vh;
}
.dropup-content a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
    padding: 1vh;
    display: block;
}
.dropup-content a:hover {
    background-color: gray;
}
.drop-up:hover .dropup-content {
    display: block;
}
.drop-up:hover .dropupbtn {
    transform: scale(1.1);
}
#time-icon {
    width: 3vh;
    height: 3vh;
    color: white;
    cursor: pointer;
    color-scheme: dark;
}
.history-btn {
    position: relative;
    display: inline-block;
}
.history-content {
    display:none;
    position: absolute;
    margin-top: -41vh;
   min-width: 20vh;
   z-index: 100;
    background-color: white;
    padding: 1vh;
    border-radius: 1vh;
    color:black;
}

.history-btn:hover #time-icon {
    transform: scale(1.1);
}
.history-btn:hover .history-content {
    display: block;
}
nav{
    position: absolute;
    margin-top: -12vh;
    margin-left: 50vh;

    width: 50%;
    border-radius: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 4vh;
    z-index: 100;
    background-color: black;
}
.drop-up, .history-btn {
    position: relative;
    margin-right: 2vh;
}
.navigation {
    display: flex;
    gap: 4vh;
}
.navigation a {
    color: white;
    text-decoration: none;
    font-size: 2vh;
    padding-top: 1vh;
}
.navigation a:hover {
    color: gray;
}
#reservation {
    background-color: gray;
    border-radius: 5vh;
    padding: 1vh 2vh;
}
#reservation:hover{
    color: black;
}
.icon-watsapp {
    position: absolute;
    margin-top: -12vh;
    right: 4vh;
    font-size: 5vh;
    background-color: black;
    padding: 1vh;
    border-radius: 10vh;
    width: 5.3vh;
    height: 5.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-watsapp a {
    color: white;
    text-decoration: none;
}

.icon-watsapp:hover {
    transform: scale(1.1);
}
    @media only screen and (max-width: 428){
body{
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.left-image {
    width: 1vh;
    /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/Locations_files/65c34fee7c31fcb2f8c3700b_001-p-1600.jpg); */
    background-size: cover;
    height: 1%;


}
    }
        
    