body{
    margin: 0;
    font-family:Arial, sans-serif;
    overflow: hidden;
}
.reservation-container{
    display: flex;
}
.background-image{
    background-image: url(images/images.jpeg);
    width: 100vh;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    filter:brightness(0.8);
   
}
.logo{
    margin-top: 10vh;
    margin-left: -160vh;
    position: relative;
}
.logo img{
    width: 20vh;
}
.text{
margin-top: 37vh;
margin-left: -19vh;
position: relative;
h1{
    color: white;
}
p{
    color: rgb(146, 12, 12);
    font-size: 5vh;
 margin-top:-1vh ;
    margin-left: -5vh;
}
}
.form-container{
    background-color: rgb(35, 34, 34);
    font-family: sans-serif;

    color: white;
  
    input{
        padding: 2vh;
        width: 83vh;
        background-color:rgb(35, 34, 34);
        color: white;
        color-scheme: dark;
        border: solid 1px #f8f8f861;
        
    }
    input:focus{
outline: solid 1px green;
    }
    label{
        font-size: 2vh;
        display: block;
        margin: 10px 0 0;
        height: 1vh;
    }
    select{
        padding:2vh ;
        background-color: rgb(35, 34, 34);
        width: 87vh;
        box-sizing: border-box;
        color: gray;
    }
  
}
button{
    background-color: rgb(183, 141, 63);
width: 87.5vh;
color: white;
cursor: pointer;
padding: 3vh;
border: none;
}
button:hover{
    background-color: rgb(196, 196, 128);
    color: rgb(64, 62, 62);
}
.form{
   
    margin:1vh;
    box-shadow: 7px 2px 6px 10px #18181880;
    padding: 1vh;
}
.time-icon{
margin-top: -6vh;
margin-left:84vh ;
position: absolute;
color: gray;

   }
   



   .dropupbtn {
    font-size: 3vh;
    color: white;
    cursor: pointer;
    color-scheme: dark;
}
.drop-up {
    position: relative;
    display: inline-block;
}
.dropup-content {
    display: none;
    position: absolute;
    background-color: white;
    padding: 5vh;
  padding-left: 0;
  width: 20vh;
    border-radius: 1vh;
    /* top: 5vh; */
    margin-top: -49vh;
}
.dropup-content a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
    padding: 1vh;
    display: block;
}
.dropup-content a:hover {
    background-color: gray;
}
.drop-up:hover .dropup-content {
    display: block;
}
.drop-up:hover .dropupbtn {
    transform: scale(1.1);
}
#time-icon {
    width: 3vh;
    height: 3vh;
    color: white;
    cursor: pointer;
    color-scheme: dark;
}
.history-btn {
    position: relative;
    display: inline-block;
}
.history-content {
    display:none;
    position: absolute;
    margin-top: -37vh;
   min-width: 20vh;
   z-index: 100;
    background-color: white;
    padding: 1vh;
    border-radius: 1vh;
    color:black;
}

.history-btn:hover #time-icon {
    transform: scale(1.1);
}
.history-btn:hover .history-content {
    display: block;
}
nav{
    position: absolute;
    margin-top: 90vh;
    margin-left: 30vh;

    width: 50%;
    border-radius: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 4vh;
    z-index: 100;
    background-color: black;
}
.drop-up, .history-btn {
    position: relative;
    margin-right: 2vh;
}
.navigation {
    display: flex;
    gap: 4vh;
}
.navigation a {
    color: white;
    text-decoration: none;
    font-size: 2vh;
    padding-top: 1vh;
}
.navigation a:hover {
    color: gray;
}
#reservation {
    background-color: gray;
    border-radius: 5vh;
    padding: 1vh 2vh;
}
#reservation:hover{
    color: black;
}
.icon-watsapp {
    position: absolute;
    margin-top: 90vh;
    right: 4vh;
    font-size: 5vh;
    background-color: black;
    padding: 1vh;
    border-radius: 10vh;
    width: 5.3vh;
    height: 5.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-watsapp a {
    color: white;
    text-decoration: none;
}
.icon-watsapp:hover {
    transform: scale(1.1);
}