body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.slideshow-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.slide {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: fade 15s infinite;
}
.welcome-image {
    background-image: url(images/65cb61d8c46dc657819e1cc2_ankolegrill_slider.jpg);
    animation-delay: 0s;
}
.discover-image {
    background-image: url(images/65e5b8b549a7aac5dba0e7d3_ankole_kilimani_nightlife.jpg);
    animation-delay: 3s;
}
.taste-image {
    background-image: url(images/65c3b0c67153d0056443f31e_ankolegrill_escobar1.jpg);
    animation-delay: 6s;
}
.savour-image {
    background-image: url(images/65c5f9644676e29dddf08c65_ankolegrill_t-bone-steak-2024-1.jpg);
    animation-delay: 9s;
}
.experiance-image {
    background-image: url(images/65c34fee7c31fcb2f8c3700b_001-p-2000.jpg);
    animation-delay: 12s;
}
@keyframes fade {
    0%, 100% { opacity: 0; }
    20%, 40% { opacity: 1; }
    60%, 100% { opacity: 0; }
}
.text {
    position: absolute;
    font-size: 10vh;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    color: gray;
    text-align: center;
    z-index: 10;
}







.logo {
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
.logo img {
    width: 20vh;
}
.dropupbtn {
    font-size: 3vh;
    color: white;
    cursor: pointer;
    color-scheme: dark;
}
.drop-up {
    position: relative;
    display: inline-block;
}
.dropup-content {
    display: none;
    position: absolute;
    background-color: white;
    padding: 5vh;
  padding-left: 0;
  width: 20vh;
    border-radius: 1vh;
    /* top: 5vh; */
    margin-top: -49vh;
}
.dropup-content a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
    padding: 1vh;
    display: block;
}
.dropup-content a:hover {
    background-color: gray;
}
.drop-up:hover .dropup-content {
    display: block;
}
.drop-up:hover .dropupbtn {
    transform: scale(1.1);
}
#time-icon {
    width: 3vh;
    height: 3vh;
    color: white;
    cursor: pointer;
    color-scheme: dark;
}
.history-btn {
    position: relative;
    display: inline-block;
}
.history-content {
    display:none;
    position: absolute;
    margin-top: -41vh;
   min-width: 20vh;
   z-index: 100;
    background-color: white;
    padding: 1vh;
    border-radius: 1vh;
    color:black;
}

.history-btn:hover #time-icon {
    transform: scale(1.1);
}
.history-btn:hover .history-content {
    display: block;
}
nav{
    position: absolute;
    margin-top: -12vh;
    margin-left: 50vh;

    width: 50%;
    border-radius: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 4vh;
    z-index: 100;
    background-color: black;
}
.drop-up, .history-btn {
    position: relative;
    margin-right: 2vh;
}
.navigation {
    display: flex;
    gap: 4vh;
}
.navigation a {
    color: white;
    text-decoration: none;
    font-size: 2vh;
    padding-top: 1vh;
}
.navigation a:hover {
    color: gray;
}
#reservation {
    background-color: gray;
    border-radius: 5vh;
    padding: 1vh 2vh;
}
#reservation:hover{
    color: black;
}
.icon-watsapp {
    position: absolute;
    margin-top: -12vh;
    right: 4vh;
    font-size: 5vh;
    background-color: black;
    padding: 1vh;
    border-radius: 10vh;
    width: 5.3vh;
    height: 5.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-watsapp a {
    color: white;
    text-decoration: none;
}
.icon-watsapp:hover {
    transform: scale(1.1);
}
.icons{

}